[Unit]
Description=bamboo
After=syslog.target network.target

[Service]
Environment=PATH=/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/bin:/bin{% if bamboo is defined %}{% for item in bamboo %}{% if item.binary_path is defined %}:{{ item.binary_path }}{% endif %}{% endfor %}{% endif %}


Environment=HTTP_PROXY={% if http_proxy is defined %}{{ http_proxy.protocol }}://{{ http_proxy.host }}:{{ http_proxy.port }}{% endif %}


Environment=HTTPS_PROXY={% if http_proxy is defined %}{{ http_proxy.protocol }}://{{ http_proxy.host }}:{{ http_proxy.port }}{% endif %}


Environment=NO_PROXY={% if http_proxy is defined %}{{ http_proxy.exception | default('') | join(",") }}{% endif %}


Type=forking
User=bamboo
Group=bamboo
ExecStart={{ bamboo_application_directory }}/bin/start-bamboo.sh
ExecStop={{ bamboo_application_directory }}/bin/stop-bamboo.sh

[Install]
WantedBy=multi-user.target
