= Bamboo

Bamboo is .. bli bla blo.

== Bamboo Server

Bamboo master server does .. .

=== Server data

|===
|Property | Value

|root directory
|{{ bamboo_root_directory }}

|application directory
|{{ bamboo_application_directory }}

|home directory
|{{ bamboo_home_directory }}

|JVM heap min
|{{ bamboo_jvm_heap_min }}

|JVM heap max
|{{ bamboo_jvm_heap_max }}

|bamboo version
|{{ bamboo_version }}

|openJDK version
|{{ openjdk_version }}

|postgresql version
|{{ postgresql_version }}

|===
